{% extends "layout.html" %}
{% block content %}

 <!-- Page Header -->
 <header class="masthead" style="background-image: url('img/circut_board.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>My Projects</h1>
            <h2 class="subheading">A few of my personal projects</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <a href="comics/news"><h3>Comic News</h3></a>

            <p>One of my projects is the "Batman Universe Comic News Aggregator." This uses BeautifulSoup4 to scour 3 of the top comic news sites for Batman-related character's articles. It displays the first 3 pages of resulsts of each site.</p>
            
            <p>The seven news sites currently supported: bleedingcool.com, cbr.com, comicsbeat.com, ign.com, nerdist.com, newsarama.com, and theouthousers.com.</p>
            
            <p>This project accesses a Postgres database to receive the output of scraped information. There are also apis so that you can access the scraped news data.</p>

        </div>
    </div>
  </div>
</article>
<hr>
<article>
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <a href="/volcanoes"><h3>Active Volcanoes</h3></a>
            
            <p>My second project is "An Interactive Map of Active Volcanoes Classified by Last Known Eruption Date." The heavy work to create the map is found <a href="/volcanoes">here</a>.</p>
        </div>
      </div>
    </div>
  </article>

  {% endblock %}