{% extends "layout.html" %}
{% block content %}
   <style type="text/css">
      iframe {
        height: 450px;
        width: 100%;
        resize: both;
        overflow: auto;
      }
   </style>
   <div class="container">
      <h1 class="volcanoes-heading" style="text-align: center">Active Volcanoes in the World</h1>
      <h3 style="text-align: center">This is an interactive map that display the active volcanoes in the world.<br>
      Also, shows the periods when they last active. Best experienced on a desktop.</h3>
      <div class="row">
         <div class='column col-12-lg'>
            <iframe id="volcano_iframe" src="/html/map.html">
            </iframe>
         </div>
      </div>
   </div>

   <script async type="text/javascript">
   document.getElementById('volcano_iframe').onload = function() {
   __doPostBack('ctl00$ctl00$bLogout','');
   }
   </script>
{% endblock %}