{% extends "layout.html" %}
{% block content %}

<style type="text/css"> /* The Modal (background) */
   .modal {
       display: none; /* Hidden by default */
       position: fixed; /* Stay in place */
       z-index: 1; /* Sit on top */
       left: 0;
       top: 0;
       width: 100%; /* Full width */
       height: 100%; /* Full height */
       overflow: auto; /* Enable scroll if needed */
       background-color: rgb(0,0,0); /* Fallback color */
       background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   }

   /* Modal Content/Box */
   .modal-content {
       background-color: #fefefe;
       margin: 15% auto; /* 15% from the top and centered */
       padding: 20px;
       border: 1px solid #888;
       width: 80%; /* Could be more or less, depending on screen size */
   }

   /* The Close Button */
   .close {
       color: #aaa;
       float: right;
       font-size: 28px;
       font-weight: bold;
   }

   .close:hover,
   .close:focus {
       color: black;
       text-decoration: none;
       cursor: pointer;
   }
   #limheight {
    height: 300px; /*your fixed height*/
    -webkit-column-count: 5;
       -moz-column-count: 5;
            column-count: 5; /*3 in those rules is just placeholder -- can be anything*/
   }

   #limheight li {
       display: inline-block; /*necessary*/
   } 
</style>
<div class='comics'>
<h1 class="comics-heading">Batman Universe Comic News</h1>
<div class="row">
    <div id='form' class='col-md-2'>
        <form>
            <h4>Display news source</h4>
            <h5> Bleedingcool News: <input type="checkbox" id="bleedingcoolCheck" onclick="displayBleedingcool()" checked></h5>
            <h5> CBR News: <input type="checkbox" id="cbrCheck" onclick="displayCBR()" checked></h5>
            <h5> Comicbook.com News: <input type="checkbox" id="comicbookCheck" onclick="displayComicbook()" checked></h5>
            <h5> Comicsbeat News: <input type="checkbox" id="comicsbeatCheck" onclick="displayComicsbeat()" checked></h5>
            <h5> IGN News: <input type="checkbox" id="ignCheck" onclick="displayIGN()" checked></h5>
            <h5> Nerdist News: <input type="checkbox" id="nerdistCheck" onclick="displayNerdist()" checked></h5>
            <h5> Newsarama News: <input type="checkbox" id="newsaramaCheck" onclick="displayNewsarama()" checked></h5>
            <h5> The Outhousers News: <input type="checkbox" id="outhousersCheck" onclick="displayOuthousers()" checked></h5>
        </form>
        <!-- Trigger/Open The Modal -->
        <button id="myBtn">Search Criterion</button>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" style="color: #000;">&times;</span>
                <h3>Here are the search criterion I used to search the web for Bat-related news.</h3>
                <h4>Please email me if I should add more criterion.</h4>
                <hr>
                <ul id="limheight">
                    {% for item in criterion %}
                    <li>
                        <h5>{{ item }}</h5>
                    </li>
                    <br> {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- <div id=#divisor class='col-md-1'></div> -->
    <div class='col-md-10'>
        <div id='bleedingcool' class='row'>
            <div>
                <h3 class="post">Bleedingcool News</h3>
                {% for post in bleedingcool %}
                <li>
                    <a class='post' href="{{ post[1] }}">{{ post[0] }}</a>
                </li>
                {% endfor %}
            </div>
        </div>
        <div id='cbr' class='row'>
            <div>
                <h3 class="post">CBR News</h3>
                {% for post in cbr %}
                <li>
                    <a class='post' href="{{ post[1] }}">{{ post[0] }}</a>
                </li>
                {% endfor %}
            </div>
        </div>
        <div id='comicbook' class='row'>
            <div>
                <h3 class="post">Comicbook News</h3>
                {% for post in comicbook %}
                <li>
                    <a class='post' href="{{ post[1] }}">{{ post[0] }}</a>
                </li>
                {% endfor %}
            </div>
        </div>
        <div id='comicsbeat' class='row'>
            <div>
                <h3 class="post">Comicsbeat News</h3>
                {% for post in comicsbeat %}
                <li>
                    <a class='post' href="{{ post[1] }}">{{ post[0] }}</a>
                </li>
                {% endfor %}
            </div>
        </div>
        <div id='ign' class='row'>
            <div>
                <h3 class="post">IGN News</h3>
                {% for post in ign %}
                <li>
                    <a class='post' href="{{ post[1] }}">{{ post[0] }}</a>
                </li>
                {% endfor %}
            </div>
        </div>
        <div id='nerdist' class='row'>
            <div>
                <h3 class="post">Nerdist News</h3>
                {% for post in nerdist %}
                <li>
                    <a class='post' href="{{ post[1] }}">{{ post[0] }}</a>
                </li>
                {% endfor %}
            </div>
        </div>
        <div id='newsarama' class='row'>
            <div>
                <h3 class="post">Newsarama News</h3>
                {% for post in newsarama %}
                <li>
                    <a class='post' href="{{ post[1] }}">{{ post[0] }}</a>
                </li>
                {% endfor %}
            </div>
        </div>
        <div id='outhousers' class='row'>
            <div>
                <h3 class="post">The Outhouses News</h3>
                {% for post in outhousers %}
                <li>
                    <a class='post' href="{{ post[1] }}">{{ post[0] }}</a>
                </li>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

<!-- Modal JS -->
<script type="text/javascript">
   // Get the modal
   var modal = document.getElementById('myModal');

   // Get the button that opens the modal
   var btn = document.getElementById("myBtn");

   // Get the <span> element that closes the modal
   var span = document.getElementsByClassName("close")[0];

   // When the user clicks on the button, open the modal
   btn.onclick = function() {
       modal.style.display = "block";
   }

   // When the user clicks on <span> (x), close the modal
   span.onclick = function() {
       modal.style.display = "none";
   }

   // When the user clicks anywhere outside of the modal, close it
   window.onclick = function(event) {
       if (event.target == modal) {
           modal.style.display = "none";
       }
   } 
</script>

<!-- Checkbox for news sources -->
<script type="text/javascript">
    function displayBleedingcool() {
        var checkBox = document.getElementById("bleedingcoolCheck");
        var news = document.getElementById("bleedingcool");
        if (checkBox.checked == true) {
            news.style.display = "block";
        } else {
            news.style.display = "none";
        }
    }
    function displayCBR() {
        var checkBox = document.getElementById("cbrCheck");
        var news = document.getElementById("cbr");
        if (checkBox.checked == true) {
            news.style.display = "block";
        } else {
            news.style.display = "none";
        }
    }
    function displayComicbook() {
        var checkBox = document.getElementById("comicbookCheck");
        var news = document.getElementById("comicbook");
        if (checkBox.checked == true) {
            news.style.display = "block";
        } else {
            news.style.display = "none";
        }
    }
    function displayComicsbeat() {
        var checkBox = document.getElementById("comicsbeatCheck");
        var news = document.getElementById("comicsbeat");
        if (checkBox.checked == true) {
            news.style.display = "block";
        } else {
            news.style.display = "none";
        }
    }
    function displayIGN() {
        var checkBox = document.getElementById("ignCheck");
        var news = document.getElementById("ign");
        if (checkBox.checked == true) {
            news.style.display = "block";
        } else {
            news.style.display = "none";
        }
    }
    function displayNerdist() {
        var checkBox = document.getElementById("nerdistCheck");
        var news = document.getElementById("nerdist");
        if (checkBox.checked == true) {
            news.style.display = "block";
        } else {
            news.style.display = "none";
        }
    }
    function displayNewsarama() {
        var checkBox = document.getElementById("newsaramaCheck");
        var news = document.getElementById("newsarama");
        if (checkBox.checked == true) {
            news.style.display = "block";
        } else {
            news.style.display = "none";
        }
    }
    function displayOuthousers() {
        var checkBox = document.getElementById("outhousersCheck");
        var news = document.getElementById("outhousers");
        if (checkBox.checked == true) {
            news.style.display = "block";
        } else {
            news.style.display = "none";
        }
    }
</script>
{% endblock %}