{% extends "dashboard/base.html" %}
{% block content %}
<div class="col-xs-9">
        <h1>{{ blog.title() }} Blog</h1>

    <form action="/dashboard/blog/{{ blog }}/post/{{ post.slug }}/update" method="POST">
        {{ csrf_field|safe }}
        ​ <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" name="title" required pattern=".*\S+.*" value="{{ post.title }}"><br>
        </div>
        <!-- <div class="form-group">
            <label>Featured Image</label>
            <input type="file" name="file_upload_update">
          </div> -->
        ​ <div class="form-group">
            <label>Body</label>
            <textarea name="body" class="form-control" rows="25">{{ post.body }}</textarea><br>
        </div>
        <div class="form-group">
          <label>Category</label>
          <div class="invalid-tooltip">
            No commas in category names
          </div>
          <br>
          <input name="category" pattern="^[^,]*$" value="{{ post.category }}"></input>
        </div>
        ​<div class="form-group">
            <a href="/dashboard/blog/{{ blog }}/post/preview/{{ post.slug }}" class="btn btn-primary" role="button" target="_blank" name="preview">Preview</a>
            <button type="submit" class="btn btn-primary" name="update">Update</button>
            <a class="btn btn-primary" href="/dashboard/blog/{{ blog }}/home" role="button">Cancel</a>
        </div>
    </form>
    
    <!-- Detail Render Syntax -->
    <div class="alert alert-light" role="alert">
            Editor Syntax: Markdown
    </div>
</div>
{% endblock %}