{% extends "layout.html" %}
{% block content %}
<!-- <style type="text/css"> -->
  <!-- h1 {font-size: 4.5rem;} -->
<!-- </style> -->
<div class="body-content">
  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-12">
          <h1 class="home">Tony Hammack</h1>
          <h3 class='home'>Curious Tinkerer | hammack.tony@gmail.com</h3>
        </div><!--/.col-lg-12 -->
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/.#headerwrap -->
  
  <div id="intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <p>I am an INTJ that enjoys drinking coffee, watching movies, and being active. As an avid reader and podcast listener, I love to embrace the challenge of learning new things that are outside my realm of knowledge. I believe that human life has nearly unlimited potential, and the only key to unlock it is through knowledge and grit. My goal is to use my resources and talents to affect change in this world, and help everyone reach their potential.
          </p>

          <p>I like to dabble and tinker with multiple technologies with the goal of solving intriguing problems and puzzles. Stay tuned for more projects, and if you have any more questions, feel free to contact me.</p>`
        </div>    
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/ #intro -->
</div>

{% endblock %}
