<div class="profile" itemscope itemtype="http://schema.org/Person">
    <ng-container *ngIf="data">
        <div class="author__avatar">
            <img src="{{ data['image'] }}" class="avatar" itemprop="image">
        </div>

        <div class="author__content">
            <h3 class="author__name" itemprop="name">Tony Hammack</h3>
            <p class="author__bio" itemprop="description">
                {{ data['bio'] }}
            </p>
        </div>

        <div class="author__urls-wrapper">
            <ul class="fa-ul">
                <li>
                    <a href="http://{{ data['website'] }}" itemprop="url">
                        <i class="fas fa-li fa-link" aria-hidden="true"></i> {{ data['website'] }}
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/{{ data['linkedin'] }}" itemprop="sameAs">
                        <i class="fab fa-li fa-linkedin" aria-hidden="true"></i> LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://github.com/{{ data['github'] }}" itemprop="sameAs">
                        <i class="fab fa-li fa-github" aria-hidden="true"></i> GitHub
                    </a>
                </li>
                <li>
                    <a href="https://dev.to/{{ data['devto'] }}" itemprop="sameAs">
                        <i class="fab fa-li fa-dev" aria-hidden="true"></i> Dev.to
                    </a>
                </li>
            </ul>
        </div>
    </ng-container>
</div>